*.pyc
/app/desdm-dash-static/completed_requests/*
/app/desdm-dash-static/processing.csv
/app/desdm-dash-static/processing_influx.csv
/app/desdm-dash-static/reports/*
/app/desdm-dash-static/dts_plot.html
.idea
settings.sh
