<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="icon" href="{{url_for('static',filename='des_logo.png')}}">
    <meta charset="utf-8">
    <title> 
        {% if title %}
            {{ title }}
        {% else %}
            Dashboard
        {% endif %}
    </title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" rel="stylesheet" type="text/css" >

    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
        {% for f in assess_figscript,timtes_figscript,exechost_figscript %}
        {% if f %}
        {{ f|safe}}
        {% endif %}
        {% endfor %}

    <link href="{{ url_for('static',filename='custom.css')}}" rel="stylesheet" type="text/css" /> 
    </head>
<body>
<center>
<div class="toplinks">  
<ul>
    <li id="dash"><a href="{{ url_for('index') }}"><strong>DESDM-Dash</strong></a></li>
    <li ><a href=" {{url_for('processing_summary') }}"> Production Summary</a></li>
    <li ><a href=" {{url_for('testing_summary') }}"> Testing Summary</a></li>
    <li ><a href="{{url_for('supernova_summary') }}"> Supernova Summary</a></li>
    <li ><a href="{{url_for('dts') }}"> DTS</a></li>
    <li ><a href="{{url_for('backups') }}"> Backups</a></li>
</ul>
</div>
</center>
<span>
{% block content %}{% endblock %}
</span>
</body>
</html>
