{% extends "base.html" %}
{% block content %}
<h5> Last updated on: {{updated.split('#')[1]}}</h5>
<center>

{{ scripts|safe }}
{{ div|safe }}

<table class='display black' cellspacing="0" width="100%" border="1">
<thead>
  <tr>
    <th>Error type</th>
    <th>Discription</th>
    <th>Count</th>
  </tr>
</thead>

<tbody>
{% for col in error_dict.iterkeys() %}
  <tr>
  <td> {{ col }} </td>
  <td>
  {% for error in  error_dict[col] %}
    {{ error }} <BR> 
  {% endfor %}
  </td>
  <td> {{ error_dict[col]|length}} </td>

  </tr>
{% endfor %}
</tbody>
</table>
</center>
{% endblock %}
