{% extends "base.html" %}
{% block content %}
<h5> Last updated on: {{updated.split('#')[1]}}</h5>
<center>

{{ scripts|safe }}
{{ div|safe }}

<style>
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
</style>

<table class='display black' cellspacing="0" width="100%" border="1">
<thead>
  <tr>
    <th>Error type</th>
    <th>Discription</th>
    <th>Count</th>
  </tr>
</thead>

<tbody>
{% for col in error_dict.iterkeys() %}
  <tr>
  <td> 
    <button class="collapsible button"> {{ col }} </button>
    <div class="content">
      <table class='message display' cellspacing="0">
      <tbody>
        {% for message in error_dict[col] %}
        <tr>
          {{ "{}".format(message[0]) }} <BR>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </td>
  <td> {{ "{}".format(error_dict[col][1]) }} </td>
  </tr>
{% endfor %}
</tbody>
</table>
</center>
{% endblock %}

</style>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
