{% extends "base.html" %}
{% block content %}
<center>
{% if times_figdiv %}
<h1> Processing Times </h1>
{{times_figdiv|safe}}
<h3><u>Min:</u> {{ df[df.status==0]['total time'].min()}} <u>Max:</u> {{ df[df.status==0]['total time'].max()}} <u>Avg:</u> {{ mean_times}}</h3>
{% endif %}
{% if exechost_figdiv %}
<h1> Processing Times per Exec Host</h1>
{{exechost_figdiv|safe}}
{% endif %}
{% if fails_figdiv %}
<h1> Status per Exec Host</h1>
{{fails_figdiv|safe}}
{% endif %}
{% if assess_figdiv %}
<h1> Assessment Summary </h1>
{{assess_figdiv|safe}}
{% endif %}
{% if teff %}
<a href="{{url_for('teff') }}"> T_eff Summary</a>
{% endif %}
<h1> Processing Attempts </h1>
<table border="1">
<tr>
{% for col in columns %}
    <th>
        {{ col }}
    </th>
{% endfor %}
</tr>
{% for key,row in df.iterrows() %}
<tr>
    {% for col in columns %}
        {% if col == 'status' %}
            {% if row[col] == 0 %}
            <td bgcolor="#00FF00"> {{ row[col] }} </td>
            {% elif row[col] in [-9,1,2,5,6,8,9,127,135,139,247] %}
            <td bgcolor="#FF0000"> {{ row[col] }} </td>
            {% else %}
            <td bgcolor="#FF9900"> {{ row[col] }} </td>
            {% endif %}
        {% elif col == 'assessment' %}
            {% if row[col] == 'True' %}
            <td bgcolor="#00FF00"> {{ row[col] }} </td>
            {% elif  row[col] == 'False' %}
            <td bgcolor="#FF0000"> {{ row[col] }} </td>
            {% else %}
            <td bgcolor="#FF9900"> {{ row[col] }} </td>
            {% endif %}
        {% else %}
            <td>  {{ row[col] }} </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>

</center>
{% endblock %}
