{% extends "base.html" %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery-1.11.3.min.js') }}">\x3C/script>')</script>
<center>
{% if times_figdiv %}
<h1> Processing Times </h1>
{{times_figdiv|safe}}
<h3><u>Min:</u> {{ df['total time'].min()}} <u>Max:</u> {{ df['total time'].max()}} <u>Avg:</u> {{ mean_times}}</h3>
{% if exechost_figdiv %}
<h1> Processing Times per Exec Host</h1>
{{exechost_figdiv|safe}}
{% endif %}
<h1> Assessment Summary </h1>
{{assess_figdiv|safe}}
<table border="1">
<tr>
<th> Program </th>
<th> True </th>
<th> False </th>
<th> Unknown </th>
<th> None </th>
</tr>
{% for program,group in df.groupby(by=['program']) %}
    <tr>
    <td> {{program}}</td>
    {% for col in ['True','False','Unknown','None'] %}
        {% if col in group['assessment'].unique() %}
         <td> {{group[group['assessment']==col].count()[0]}}
              ({{((group[group['assessment']==col].count()[0]/group[group['program']==program].count()[0])*100).round(1)}}%)</td>
        {% else %}
         <td> - </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endif %}
<h1> Processing Attempts </h1>
<table border="1">
<tr>
{% for col in columns %}
    <th>
        {{ col }}
    </th>
{% endfor %}
</tr>
{% for key,row in df.iterrows() %}
<tr>
    {% for col in columns %}
        {% if col == 'status' %}
            {% if row[col] == 0 %}
            <td bgcolor="#00FF00"> {{ row[col] }} </td>
            {% elif row[col] in [-9,1,2,5,6,8,9,127,135,139,247] %}
            <td bgcolor="#FF0000"> {{ row[col] }} </td>
            {% else %}
            <td bgcolor="#FF9900"> {{ row[col] }} </td>
            {% endif %}
        {% elif col == 'assessment' %}
            {% if row[col] == 'True' %}
            <td bgcolor="#00FF00"> {{ row[col] }} </td>
            {% elif  row[col] == 'False' %}
            <td bgcolor="#FF0000"> {{ row[col] }} </td>
            {% else %}
            <td bgcolor="#FF9900"> {{ row[col] }} </td>
            {% endif %}
        {% else %}
            <td>  {{ row[col] }} </td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>
</center>
{% endblock %}
