<!DOCTYPE html>
<html>

{% extends "base.html" %}
{% block content %}
<h5> Last updated on: {{updated.split('#')[1] }}</h5>

<head>
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" rel="stylesheet" type="text/css" >

{% if figscript %}
{{figscript|safe }}
{% endif %}

<center>

<h1> Statistics </h1>
</head>

<body>
{% if figdiv %}
{{figdiv|safe }}
{% endif %}

</center>
</body>

{% endblock %}
</html>
