{% extends "base.html" %}
{% block content %}
<h5> Last updated on: {{updated.split('#')[1]}}</h5>
<center>
{% for db in ['db-desoper','db-destest'] %}
<div class="styleme">
<hr>
<h1> {{ db}} </h1>
<hr>
</div>
{% if db=='db-desoper' %}
{% set df_list = [(0,curr_df),(1,rest_df)] %}
{% else %}
{% set df_list = [(0,tcurr_df),(1,trest_df)] %}
{% set columns = tcolumns %}
{% endif %}
{% for i,df in df_list %}
{% if i==0 %}
<h2> Currently running: </h2>
{% else %}
<h2> Runs in the last four days: </h2>
{% endif %}
{% if df.empty %}
<h5> ---NA--- </h5>
{% else %}
<table class="black normal" border="1">
<thead>
<tr>
{% for col in columns %}
    <th>
        {{ col }}
    </th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for i,row in df.iterrows() %}
<tr>
{% for col in columns %}
    {% if col == 'reqnum' %}
    <td> <a href="{{ url_for('processing_detail',db=db,reqnum = row['reqnum']) }}"><strong>{{ row['reqnum'] }}</strong></a></td>
    {% elif col == 'failed' %}
    <td> <a href="{{ url_for('error_summary',db=db,reqnum=row['reqnum']) }}"><strong>{{ row['failed'] }}</strong></a></td>
    {% else %}
    <td> {{ row[col]}} </td> 
    {% endif %}
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endfor %}
{% endfor %}
</center>
{% endblock %}
