{% extends "base.html" %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery-1.11.3.min.js') }}">\x3C/script>')</script>
<h5> Last updated on: {{updated.split('#')[1]}}</h5>
<center>
{% for db in ['db-desoper','db-destest'] %}
<div class="styleme">
<hr>
<h1> {{ db}} </h1>
<hr>
</div>
{% if db=='db-desoper' %}
{% set dict_list = [current_dict,rest_dict] %}
{% else %}
{% set dict_list = [tcurrent_dict,trest_dict] %}
{% set columns = tcolumns %}
{% endif %}
{% set n=1 %}
{% for dict in dict_list %}
{% if n==1 %}
<h2> Currently running: </h2>
{% else %}
<h2> Runs in the last four days: </h2>
{% endif %}
{% set n=2 %}
{% if not dict %}
<h5> ---NA--- </h5>
{% else %}
<table border="1">
<tr>
{% for col in columns %}
    <th>
        {{ col }}
    </th>
{% endfor %}
</tr>
{% for di in dict %}
<tr>
{% for col in columns %}
    {% if col == 'reqnum' %}
    <td> <a href="{{ url_for('processing_detail',db=db,reqnum =di[col],operator=di['operator']) }}"><strong>{{ di[col] }}</strong></a></td>
    {% else %}
    <td> {{ di[col] }} </td> 
    {% endif %}
{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}
{% endfor %}
{% endfor %}
</center>
{% endblock %}
