{% extends "base.html" %}
{% block content %}
<h5> Last updated on: {{updated.split('#')[1]}}</h5>
<center>
{% for db in ['desoper','destest'] %}
<div class="styleme">
<hr>
<h1> {{db}} </h1>
<hr>
</div>
{% if db=='desoper' %}
{% set df_list = [(0,curr_df),(1,rest_df)] %}
{% else %}
{% set df_list = [(0,tcurr_df),(1,trest_df)] %}
{% set columns = tcolumns %}
{% endif %}
{% for i,df in df_list %}
{% if i==0 %}
<h2> Currently running: </h2>
{% else %}
<h2> Runs in the last four days: </h2>
{% endif %}
{% if df.empty %}
<h5> ---NA--- </h5>
{% else %}
<table class="black normal" border="1">
<thead>
<tr>
{% for col in columns %}
    {% if col != 'redflag' %}
    <th>
        {{ col }}
    </th>
    {% endif %}
{% endfor %}
</tr>
</thead>
<tbody>
{% for j,row in df.iterrows() %}
<tr>
{% for col in columns %}
  {% if col != 'redflag' %}
    {% if row['redflag'] == 1 and i==0%}
      <td bgcolor="#FFAAAA">
    {% else %}
      <td>
    {% endif %}
    {% if col == 'reqnum' %}
      <a href="{{ url_for('processing_detail',reqnum = row['reqnum']) }}"><strong>{{ row['reqnum'] }}</strong></a></td>
    {% elif col == 'redflag' %}
      <!-- Don't display the redflag column, just for adding red color to table -->
    {% else %}
      {{ row[col]}} </td> 
    {% endif %}
  {% endif %}
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endfor %}
{% endfor %}
</center>
{% endblock %}
